body {
    background-color: RGB(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    color: RGB(45, 45, 45);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: RGB(41, 41, 51);
    border-radius: 0px;
    height: 75px;
    margin-bottom: 0px;
    color: white;
}

.navbar a {
    padding-top: 0px;
    font-size: 15px;
    color: white;
}

.navbar a:hover {
    background-color: RGB(45, 45, 45);
    color: RGB(247, 179, 0);
}

.navbar-mobileLogo, .navbar-mobileLinks {
    padding-top: 20px;
    display: inline-block;
}

.navbar-mobileLinks {
    padding-top: 25px;
    float: right;
}

.navbar-mobileLinks a {
    padding-top: 0px;
    font-size: 15px;
    color: white;
}

.navbar-mobileLinks a:hover {
    background-color: RGB(45, 45, 45);
    color: RGB(247, 179, 0);
}

.navbar-desktopLogo {
    padding-top: 20px;
}

.navbar-desktopLinks li a {
    padding-top: 5px;
    font-size: 15px;
    color: white;
}

.navbar-desktopLinks li a:hover {
    background-color: RGB(45, 45, 45);
    color: RGB(247, 179, 0);
}

.pageHeader {
    height: 170px;
    background-color: #8ad475;
}

.pageHeader h1 {
    padding-top: 65px;
    margin: 0px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.chartHeader {
    background-color: #e36659;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chartHeader-text {
    padding: 15px 10px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.atAGlance {
    background-color: white;
    border-radius: 5px;
    border: 1px solid RGB(221, 221, 221);
    padding: 15px;
}

.atAGlance .pageOverview table {
    margin: auto;
}

.atAGlance .pageOverview table {
    text-align: center;
}

.atAGlance .pageOverview th, .atAGlance .pageOverview td {
    width: 300px;
}

.atAGlance .pageOverview td {
    padding-top: 17px;
    font-weight: bold;
    color: RGB(45, 45, 45);
    font-size: 18px;
}

.atAGlance .pageOverview #totalLessons, .atAGlance .pageOverview #lessonsCompleted, .atAGlance .pageOverview #averageScore, .atAGlance .pageOverview #totalUsers {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.atAGlance .pageOverview #totalLessons, .atAGlance .pageOverview #lessonsCompleted {
    color: #498fe2;
}

.atAGlance .pageOverview #totalUsers {
    color: #ffcf3e;
}

.atAGlance .pageOverview #averageScore {
    color: #8ad475;
}

#tagChart {
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
}

#pageOverview {
    display: inline-block;
}

.sortGroup {
    margin-left: 20px;
}

.sortBy, #sortBtns {
    display: inline-block;
}

.sortBy {
    margin-top: 30px;
}

.sortBtn {
    background-color: white;
    border: 1px solid RGB(221, 221, 221);
    border-radius: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px 5px 2px;
}

.sortActive {
    background-color: RGB(45, 45, 45);
    border: 1px solid white;
    color: white;
}

.dataHeader {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin-top: 5px;
    padding: 15px 10px;
    border-radius: 5px;
}

.dataHeader-lessons {
    background-color: #498fe2;
}

.dataHeader-users {
    background-color: #ffcf3e;
}

.lesson, .user {
    background-color: white;
    padding: 10px 10px 3px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 15px;
}

.coloredCap {
    border-radius: 5px 5px 0px 0px;
}

.lesson-title {
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    display: inline-block;
    color: RGB(45, 45, 45);
}

.lesson-title:hover {
    color: RGB(77, 138, 147);
}

.lesson-modifiers {
    display: inline-block;
    float: right;
}

.lesson-modifiers a {
    color: RGB(77, 138, 147);
}

.lesson-modifiers a:hover {
    color: RGB(45, 45, 45);
}

.lesson-stats {
    padding: 7px 0px 12px;
}

.lesson-stats-table {
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid RGB(221, 221, 221);
}

.lesson-stats-table td, .lesson-stats-table tr, .lesson-stats-table th {
    padding: 5px 20px 0px;
    font-size: 15.5px;
}

.lesson-stats-table th {
    background-color: RGB(221, 221, 221);
    padding-bottom: 5px;
}

.lesson-stats-table td {
    padding-bottom: 5px;
}

.lesson-bottom {
    width: 100%;
}

.lesson-modified-info {
    display: inline-block;
}

.lesson-tag {
    display: inline-block;
    float: right;
    margin-bottom: -10px;
}

.lesson-share-link {
    margin-left: 5px;
}

.user-name {
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
}

.userLessonModifications a {
    font-weight: bold;
    color: RGB(77, 138, 147);
}

.userLessonModifications a:hover {
    color: RGB(45, 45, 45);
}

footer {
    margin: 15px 0px 20px;
}

footer .footerText a {
    color: RGB(77, 138, 147);
}

footer .footerText a:hover {
    color: RGB(247, 179, 0);
}
